/**ESTILOS PERSONALIZADOS*/
*{ box-sizing: border-box !important;}

html{scroll-behavior: smooth;}

body{ font-family: 'Abel', sans-serif;}

h1, h2, h4, h5{ font-family: 'Bebas Neue', cursive; color:  #00439C;}

p{ font-size: 25px;}

h1{ font-size: 8rem;}

h2{ font-size: 6rem;}

h5{ font-size: 4rem; text-shadow: 2px 1px 2px black}

.myBtn{
    font-size: 20px;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    background-color: gold;

    transition: all 0.3s ease-in-out;
}

.myBtn:hover{ background-color: rgb(228, 194, 0); transform: scale(0.95);}

nav{ background-color: #00439C;}

nav .container-fluid .navbar-brand{ padding: 0;}

nav .container-fluid ul li > a{ font-size: 19px;}

.container-lg{ gap: 250px;}

#header{
    background-position: center center; 
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.705) 8%, rgba(241,241,241,0) 100%),
    url(../images/background01.jpg);
}

#header .container-lg .info h2{ color: gold; font-size: 3.5rem;}

.card-title{ color: #00439C;}

#characters{ background-image: url(../images/background02.jpg); background-size: cover; background-position: center center;}

.carousel .carousel-indicators button{
    opacity: 1 !important;
}

.carousel-indicators button{ background-color: white !important;}

.carousel-item{height: 800px;}

.carousel-item div{ object-fit: contain;}

.carousel-item:first-child div > img,
.carousel-item:nth-child(5) div > img{ width: 45% !important; height: 600px;}

.carousel-item:nth-child(2) div > img,
.carousel-item:nth-child(3) div > img,
.carousel-item:nth-child(4) div > img{ height: 600px;}

#available{ background-image: url(../images/psBanner.jpg); background-position: center center; background-size: cover;}

#available .container-md .consoles .col-md-6 > .ps4-img{ width: 40%;}

#available .container-md .consoles .col-md-6  > .ps5-img{ width: 45%;}

#available .container-md .consoles .col-md-6 > .title h5{ font-weight: lighter; text-shadow: none;}

#partTwo{ 
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7217261904761905) 10%, rgba(255,255,255,0) 100%),
    url(../images/partII.jpg); background-position: center center; background-size: cover;
}

#more .container-md .games .game .game-title p{ font-size: 20px;}

.games .game{ cursor: pointer;}

footer{ background-color: #00439C;}

footer p{ font-size: 15px;}

@media screen and (max-width: 770px){
    .carousel-item:first-child div > img,
    .carousel-item:nth-child(5) div > img{ width: 550px; height: 550px;}

    .carousel-item:nth-child(2) div > img,
    .carousel-item:nth-child(3) div > img,
    .carousel-item:nth-child(4) div > img{ height: 550px;}
}

@media screen and (max-width: 500px){
    #header .container-lg{ justify-content: center !important; }

    .info{ text-align: center; width: 100% !important;}

    .info h2{ word-wrap: break-word; }

    .description h1,
    #characters h2,
    #available div h2,
    #more div h2{ font-size: 70px; padding: 20px 0px !important; word-wrap: break-word;}
    
    .carousel-inner{ height: auto !important;}
    .carousel-item:first-child div > img,
    .carousel-item:nth-child(5) div > img{ width: 100% !important; height: 50% !important;}

    .carousel-item:nth-child(2) div > img,
    .carousel-item:nth-child(3) div > img,
    .carousel-item:nth-child(4) div > img{ height: 50% !important;}
}